.container {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}

.card {
  background: black;
  padding: 20px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

img {
  width: 150px;
}

ul {
  text-align: left;
}

.error {
  color: red;
}
